* {

    box-sizing: border-box;
  }

  body {

    background-color: black;
  }

  th,
  table,
  td {

    border: 2px solid black;
    text-align: center;
    padding: 10px 20px;
  }

  table {
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;

  }

 

  tr {

    background-color: white;
  }

  th {
    background-color: grey;
    width: auto;


  }

  

  h1,
  h2 {

    text-align: center;
    color: white;


  }

  button {

    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    margin-left: 25%;
    border: 2px solid grey;
  }
  button:enabled:active {
  
  transform: translateY(4px);
}

  img {
    border-radius: 50px;
    border: 10px solid orangered;
  }

  #playerSearch {
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;

    width: 25%;
    margin: auto;
    display: block;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  td {

    width: auto;
  }

  label{

    color: white;
  }

  table {
    background-color: red;
    margin: 20px auto;
    border-radius: 12px;
    width: 70%; /* Changed from 100% to look better on desktops */
    border-collapse: collapse; /* Essential for 2025 table layouts */
    overflow: hidden;
  }
  
  th {
    background-color: grey;
    color: white;
  }
  
  tr {
    background-color: white;
  }
  
  /* Optional: Make the Rank column slightly narrower on both tables */
  td:first-child, th:first-child {
    width: 80px;
  }

  



 